<div>
<h1>Footer</h1>
<button type="button" class="btn btn-primary" >Web modernas</button>
<div class="container">
  
  <!-- <img src="./assets/compu.jpg" alt="Computadora" class="img-fluid"> -->
    <div class="overlay">
      <div class="text">Creación de páginas web modernas y seguras</div>
    </div>
  </div>
  <a href="https://github.com/SamuelFram/MaquetadoHTML.git" target="_blank">IR A PORTFOLIO WEB GiTHUB</a>
    <br> 
   <address class="address">
    Written by Samuel Framarini.<br> 
    General San Martín <br> 
    La Pampa<br>
    ARGENTINA
    </address>
<hr>
</div>
