
<h1 class="text-center" class="text-black" class="mt-5" >Cursos realizados</h1>
<div>
<div class="row" class="rounded float-left">
    <div class="col-5" style="margin-bottom: 50px ;margin-top: 50px; margin-right: 100%; ">
     <div class="container"> 
       <table class="table table-success table-striped">
           <thead>
             <tr>
               <th scope="col">#</th>
               <th scope="col">Cursos</th>               
               <th scope="col">Certificado</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td>Introduccion a la programación en Python</td>
               <td>Polo Técnologico Mina Clavero</td>
              
             </tr>
             <tr>
               <th scope="row">2</th>
               <td>Desarrollo en Html , CSS y Javascript </td>
               <td>Alura</td>
              
             </tr>
             <tr>
               <th scope="row">3</th>
               <td>Desarrollador FrontEnd</td>
               <td>Fundacion Slim</td>
              
             </tr>
             <tr>
                <th scope="row">4</th>
                <td>Programación</td>
                <td>Argentina Programa Primera Etapa</td>              
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Desarrollador Full Stack Junior</td>
                <td>Argentina Programa Segunda Etapa (en curso) </td>              
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Reparación de Pc</td>
                <td>Fundación Slim  </td>              
              </tr>
           </tbody>
         </table>
    </div>
    
</div >

<div class="container " class="p-3" >
  <h3>Certificados</h3>
  <h5>
<ul class="nav justify-content-init" >
  <li class="nav-item">
      <a class="nav-link " href="https://mumuki.io/argentina-programa/certificates/verify/Ho20KeTXtUWpPi2L" target="_blank" tabindex="-1">Argentina Programa 1 Etapa</a>
    </li>
  
  <li class="nav-item">
    <a class="nav-link" href="https://app.aluracursos.com/user/samuelframarini/fullCertificate/92b79531ec81b72d876aa5301b5709d2" target="_blank">Certificado Alura</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://capacitateparaelempleo.org/verifica/db38b6e0-d8f5-4748-bd3f-0135af166aa6"target="_blank" >Aprende.org</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://campuscivet.ar/campusvirtual/mod/customcert/my_certificates.php?downloadcert=1&userid=13801&certificateid=131"target="_blank" >HTML5 y CSS</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="https://github.com/SamuelFram/MaquetadoHTML.git" target="_blank" >GitHub</a>
    </li>
  
</ul> 
</h5>
</div>