<div>
<div class="row" class="rounded float-left">
    <div class="col-5" style="margin-bottom: 50px ;margin-top: 50px; margin-right: 100%; ">
     <div class="container"> 
       <table class="table table-success table-striped">
           <thead>
             <tr>
               <th scope="col">#</th>
               <th scope="col">Cursos</th>               
               <th scope="col">Certificado</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td>Introduccion a la programación en Python</td>
               <td>Polo Técnologico Mina Clavero</td>
              
             </tr>
             <tr>
               <th scope="row">2</th>
               <td>Desarrollo en Html , CSS y Javascript </td>
               <td>Alura</td>
              
             </tr>
             <tr>
               <th scope="row">3</th>
               <td>Instalador de Fibra Optica</td>
               <td>Fundacion Slim</td>
              
             </tr>
             <tr>
                <th scope="row">4</th>
                <td>Programación</td>
                <td>Argentina Programa Primera Etapa</td>              
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Desarrollador Full Stack Junior</td>
                <td>Argentina Programa Segunda Etapa (en curso) </td>              
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Reparación de Pc</td>
                <td>Fundación Slim y rompiendo maquinas :) </td>              
              </tr>
           </tbody>
         </table>
    </div>
</div>