<div class="col-3"  > 
    <div class="container"> 
      <table class="table table-success table-striped" style="border: 5px solid rgb(28, 28, 124);padding: 15px">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre</th>               
              <th scope="col">Carlos Samuel Framarini</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td>Fecha de nacimiento</td>
              <td>02/03/1982</td>
             
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Teléfono</td>
              <td>261-4707653</td>
             
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Email</td>
              <td>samuelframarini@gmail.com</td>
             
            </tr>
          </tbody>
        </table>
   </div>
 </div>
