
<body class="bg-primary p-2 text-white bg-opacity-50">
  

<link rel="stylesheet" href="cabecera.component.css">
<div class="tabla">

<table  >
  <tr>
    
    <th>                                             
    <div class="col-3" class="cursos"> 
      <div class="container"  class="mt-7" > 
        <table class="table table-success table-striped" style="border: 5px solid rgb(28, 28, 124);padding: 50px">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>               
                <th scope="col">Carlos Samuel Framarini</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Fecha de nacimiento</td>
                <td>02/03/1982</td>
               
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Teléfono</td>
                <td>261-4707653</td>
               
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Email</td>
                <td>samuelframarini@gmail.com</td>
               
              </tr>
            </tbody>
          </table>
     </div>
   </div>
    </th>
    <th> 
      <img src="./assets/FotoCarnet.jpg" class="float-left" class="rounded-9"class="img-thumbnail"  width="149" height="150" alt="Foto personal Samuel">
    </th>
  </tr>     
</table>
</div>
<br>
<br><br><br><br><br><br><br><br>
</body>
 

