<h1 class="text-center" class="text-black" >Experiencia</h1>

<div class="row"  class="rounded float-left" >
 
  <div class="container" class="bg-success p-2 text-white bg-opacity-75">
    <div class="clearfix">
      <h2>Web Barberia Paco</h2>
        <img src="./assets/Barberia.jpg" class="img-thumbnail"  width="250px" height="300px"  class="col-md-6 float-md-end mb-3 ms-md-3" alt="Sitio web barberia Don Paco">
        <br>
        <p class="letras">
          En esta pagina web podrá ver una presentación de la barbería y también los servicios que ofrece.También lo llevará a otra página que le muestra como ponerse en contacto para hacer una reserva , asi como poder ver los prescios de los productos .
          Personalizable.
        </p>
      
        <p class="letras">
         Diferentes estilos de pagina para elegir.
        </p>
      
       
      </div>
  </div>
  
  
  <div class="container" class="bg-success p-2 text-white bg-opacity-50">
    <div class="clearfix">
      <h2>Web Clubes de Argentina</h2>
        <img src="./assets/clubes.jpg" width="300" height="300" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
        <br>
      
        <p class="letras">
         En esta página podrá ver en laces a Wikipedia de los clubes de fútbol de la Argentina . 
        </p>
      
        <p class="letras">
         Podrá encontrar diferentes equipos , incluido el de Boca Juniors , considerado el mejor de América.
        </p>
      
      
      </div>
     
      
  </div>
  <div class="container"class="bg-success p-2 text-white bg-opacity-25" >
    <div class="clearfix">
        <h2>Web Tienda de Computación</h2>
        <img src="./assets/computacion .jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
        <br>
        <p class="letras">
         Pagina Web sobre servicios de informática , arrgelos de computadoras y servicio técnico variado .
        </p>
      
        <p class="letras">Imncluye también formulario para dejar nombre y email para poder enviar publicidad y promociones al cliente.
        </p>
       
        <a href="http://samuelfram.github.io/" target="_blank" >Ir a Pagina > > > </a>
      
       
      </div>
      
  </div>
  
  
  
 
     <br>
     
     <button class="nav-link active" aria-current="page" class="btn btn-primary"[routerLink]="['/']" >Inicio</button>
     <div class="overlay">
      <div class="text">Creación de páginas web modernas y seguras</div>
    </div>
  
     <hr>
  </div>
  
