<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link " href="https://mumuki.io/argentina-programa/certificates/verify/Ho20KeTXtUWpPi2L" target="_blank" tabindex="-1">Argentina Programa 1 Etapa</a>
      </li>
    
    <li class="nav-item">
      <a class="nav-link" href="https://app.aluracursos.com/user/samuelframarini/fullCertificate/92b79531ec81b72d876aa5301b5709d2" target="_blank">Certificado Alura</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.linkedin.com/in/carlos-samuel-framarini-171a6b213/"target="_blank" >Linkedin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://campuscivet.ar/campusvirtual/mod/customcert/my_certificates.php?downloadcert=1&userid=13801&certificateid=131"target="_blank" >HTML5 y CSS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="https://github.com/SamuelFram/MaquetadoHTML.git" target="_blank" >GitHub</a>
      </li>
    
  </ul>